.product-list--container {
  height: 100%;
}

.product-list--container .overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

.product-list--container .overflow-y-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.product-list--container .overflow-y-auto::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.product-list--container .overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: #555;
}